body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.map-container {
    position: relative;
    width: 80%;
    height: 80;
    overflow: hidden; /* Hide scrollbars since we’ll be using drag */
    cursor: grab; /* Change the cursor to indicate draggable content */
}

.map-container:active {
    cursor: grabbing;
}

.map-image {
    width: 100%;
    height: auto;
    position: absolute; /* Allow the image to be draggable */
    top: 0;
    left: 0;
}

.map-point {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 69, 0, 0.8);
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}

.map-point:hover {
    transform: scale(1.2);
}

.description-box {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 8px;
    display: none;
    z-index: 10;
    max-width: 90%;
    text-align: center;
}

.description-box.active {
    display: block;
}
